@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500";
@import "https://fonts.googleapis.com/css?family=Merriweather:300,700";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 300;
}


.hero {
  width: 100%;
  height: 300px;
  background-image: url('https://d1391wyf4k6d6v.cloudfront.net/misc/l/101.jpg');
  position: relative;
}

.hero .title {
  font-size: 38px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.itemList {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.itemList .item {
  width: 186px;
  height: 370px;
  float: left;
  display: inline-block;
  margin-right: 26px;
  margin-bottom: 30px;
}

.itemList .item img {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.itemList .item .title {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: "Merriweather";
  font-weight: 700;
  color: #000;
}

.itemList .item a {
  text-decoration: none;
}

.itemList .item a:hover {
  cursor: pointer;
}

.itemList .gridItems {
  margin: 50px auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.itemList .item .authorLine {
  font-size: 80%;
  color: #888;
}

.itemList .item .author {
  font-weight: 500;
  color: #888;
}
